<div class="content">
    <button class="btn btn-primary" routerLink="../addtm">Agregar Equipo</button>
    <table class="table tabTeam">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre</th>
            <th scope="col">Estadio</th>
            <th scope="col">Sitio Web</th>
            <th scope="col">Nacionalidad</th>
            <th scope="col">Año Fundacion</th>
            <th scope="col">Entrenador</th>
            <th scope="col">Capacidad</th>
            <th scope="col">Valor</th>
            <th scope="col">Opciones</th>

          </tr>
        </thead>
        <tbody class="table-group-divider" *ngFor="let team of teams">
          <tr>
            <th scope="row">1</th>
            <td>
              {{team.id}}
            </td>
            <td>{{team.nombre}}</td>
            <td>{{team.estadio}}</td>
            <td>{{team.sitioWeb}}</td>
            <td>{{team.nacionalidad}}</td>
            <td>{{team.fundacion}}</td>
            <td>{{team.entrenador}}</td>
            <td>{{team.capacidad}}</td>
            <td>{{team.valor}}</td>
          </tr>
        </tbody>
      </table>
